/*Ini File CSS*/


body{
    background-color: rgb(105, 132, 176);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-img {
    height: 450px;
    background-image:url(https://fastly.picsum.photos/id/830/1000/1000.jpg?hmac=niuEzXeNsYG3uerDur6qmRGymIsmu3lu4nXXtpa0WLc);
    background-position: center;
    background-size: cover;
}

.logo-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url(https://fastly.picsum.photos/id/1012/200/200.jpg?hmac=kENwT0f1ecqbPzBGAw3ITKIrm1xoJdF0oh5tq6nosuM);
    background-size: cover;
    background-position: center;
}



.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: auto;
}

nav > a {
    color: black;
    cursor: pointer;
    text-decoration: auto;
    border: 1px solid;
    padding: 8px;
    border-radius: 15px;
    align-items: center;
}

.img-slideshow {
    height: 200px;
    align-items: center
}

.content {
    height: 500px;
}

.footer {
    text-align: center;
}


@media only screen and (max-width: 600px){
    .main-header {
        flex-direction: column;
    }

    .flex-container {
        width: 100%;
        flex-direction: column;
    }

    .logo-icon{
        margin-bottom: 14px
    }
}


img {
    height: 300px;
    border-radius: 20px;
}

p {
    font-family: 'Lucida Sans';
    font-size: larger;

}

.form {
    font-family: 'Lucida Sans';
    font-size: 15px;

}
    